<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaredstar.mapper.SchoolMapper">

	<select id="countNum" resultType="java.lang.Long">
		SELECT count(*)	FROM
			xiwa_redstar_school AS fcs
			LEFT JOIN fc_school_community_room_data AS fcscrd
			ON fcscrd.schoolId = fcs.id
			LEFT JOIN fc_cover_picture AS fccp
			ON fccp.resourceId = fcs.id
			AND fccp.resourceType = 3
	</select>

	<select id="findByPage" parameterType="java.util.Map" resultType="com.chinaredstar.po.SchoolPO">
		SELECT
			fcs.id,
			fcs.name,
			fcs.tags,
			fcscrd.communityAmount,
			fcscrd.roomAmount,
			fcscrd.minSumPrice,
			fccp.url coverImgUrl,
		    fcs.plateCode,
		    fcs.areaCode,
		    fcs.type,
		    fcs.level,
		    fcs.property,
		    fcs.feature
			FROM
			xiwa_redstar_school AS fcs
			LEFT JOIN fc_school_community_room_data AS fcscrd
			ON fcscrd.schoolId = fcs.id
			LEFT JOIN fc_cover_picture AS fccp
			ON fccp.resourceId = fcs.id
			AND fccp.resourceType = 3
		LIMIT #{start},#{rows}
	</select>

</mapper>